<mat-grid-list cols="6" gutterSize="50px" >

           <mat-grid-tile >
               <button mat-button  routerLink='mat-slider'>Mat Slider</button>
           </mat-grid-tile>
           
           <mat-grid-tile >
               <button mat-button  routerLink='autocomplet'>Auto Complete</button>
           </mat-grid-tile>
           <mat-grid-tile >
               <button mat-button  routerLink='basicmat'>Basic Material</button>
           </mat-grid-tile>
           <mat-grid-tile>
               <button mat-button  routerLink='grid'>Material Grid</button>
           </mat-grid-tile>
           
           <mat-grid-tile >
               <button mat-button  routerLink='mattab'>Material tab</button>
           </mat-grid-tile>
           <mat-grid-tile >
               <button mat-button  routerLink='matstepper'>Material stepper</button>
           </mat-grid-tile>
           <mat-grid-tile >
               <button mat-button  routerLink='matforms'>Material Forms</button>
           </mat-grid-tile>
           <mat-grid-tile  >
               <button mat-button  routerLink='matdia'>Material dialog</button>
           </mat-grid-tile>
           <mat-grid-tile  >
               <button mat-button  routerLink='datagrid'>Material Data grid</button>
           </mat-grid-tile>
           <mat-grid-tile  >
            <button mat-button  routerLink='googlemap'>Google Map</button>
        </mat-grid-tile>
           
</mat-grid-list>